/* src/components/Footer.module.css */

.footer {
  width: 100%;
  background-color: rgba(var(--bg-color-rgb), 0.3); /* Применение прозрачности */
  backdrop-filter: blur(10px); /* Применение размытия */
  -webkit-backdrop-filter: blur(10px); /* Префикс для Safari */
  border-top: 1px solid var(--table-border-color);
  height: 60px;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1000;
}

.container {
  display: flex;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  justify-content: space-around;
}

.navButton {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.icon {
  width: 24px;
  height: 24px;
  transition: 0.3s ease;
}

/* Изменение цвета активной иконки */
.icon.active {
  filter: var(--active-shadow); /* Применяем переменную для тени */
}

/* Убираем эффект hover */
.navButton:hover {
  background-color: transparent;
  box-shadow: none;
  transform: none;
}

/* Divider */
.divider {
  height: 40px;
  width: 1px;
  background-color: var(--table-border-color);
}

/* Адаптивные стили для планшетов */
@media (max-width: 768px) {
  .icon {
    width: 20px;
    height: 20px;
  }
  .divider {
    height: 30px;
    margin: 0 15px;
  }
}

/* Адаптивные стили для мобильных устройств */
@media (max-width: 480px) {
  .icon {
    width: 18px;
    height: 18px;
  }
  .divider {
    height: 24px;
    margin: 0 10px;
  }
}
 