.homeContainer {
  background-color: var(--bg-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}

.dateHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  width: 100%;
}

.calendarIcon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: filter 0.3s ease;
}

.workoutBlock {
  position: relative;
  background-color: var(--table-bg-color);
  color: var(--text-color);
  border: 1px solid var(--table-border-color);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.workoutBlock:last-child {
  margin-bottom: 90px;
}

.workoutBlockContent {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.doneIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.workoutBlock h3 {
  margin: 0;
}

.workoutBlock p {
  margin: 15px 0 0 0;
  text-align: left;
}

.workoutBlock:hover {
  background-color: rgba(var(--bg-color-rgb), 0.8);
}

.noWorkouts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  height: 100%;
  text-align: center;
}

.createFirstWorkoutButton {
  position: relative;
  background-color: var(--table-bg-color);
  color: var(--text-color);
  border: 1px solid var(--table-border-color);
  border-radius: 8px;
  padding: 20px;
  margin: 20px 0px 90px 0px;
  transition: background-color 0.3s;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

.createFirstWorkoutButton:hover {
  background-color: rgba(var(--bg-color-rgb), 0.8);
}

.workoutInfo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.workoutBlockContent h3 {
  margin: 0;
  font-size: 1rem;
  text-align: left;
  word-break: break-word;
  overflow-wrap: anywhere;
  white-space: normal;
  line-height: 1.4;
}

.mainTitle {
  margin: 0px 0px 16px 0px;
  text-align: center;
}

.moreButton {
  width: 40px;
  height: 40px;
  background-color: var(--button-bg-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  margin: 0;
}

.moreButton:hover {
  background-color: #4d4d4d;
}

.moreButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.settingIcon {
  width: 20px;
  height: 20px;
}

.dropdownContainer {
  position: absolute;
  top: 10px;
  right: 10px;
}

.dropdownMenu {
  position: absolute;
  right: 0;
  top: 100%;
  background-color: var(--table-bg-color);
  border: 1px solid var(--table-border-color);
  border-radius: 4px;
  min-width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 5px;
}

.dropdownItem {
  width: 100%;
  padding: 8px 12px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--text-color);
  margin: 5px 0;
  min-height: 36px;
  transition: background-color 0.3s;
}

.dropdownItem:hover:not(:disabled) {
  background-color: rgba(77, 77, 77, 0.5);
}

.dropdownItem:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.spinnerContainer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.actionIcon {
  width: 15px;
  height: 15px;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: opacity 300ms ease-out, visibility 300ms ease-out;
}

.modalOverlay.isOpen {
  opacity: 1;
  visibility: visible;
}

.modalContent {
  background: var(--table-bg-color);
  border: 1px solid var(--table-border-color);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
  width: 90%;
  position: relative;
  box-sizing: border-box;
  opacity: 0;
  transform: scale(0.8);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.modalOverlay.isOpen .modalContent {
  opacity: 1;
  transform: scale(1);
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.closeButton:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

.closeIcon {
  width: 20px;
  height: 20px;
}

.modalContent h2 {
  margin: 0 auto 20px;
  color: var(--text-color);
  font-size: 1.5rem;
  max-width: calc(100% - 50px);
  text-align: center;
}

.modalSpinnerOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2100;
  border-radius: 8px;
}

.modalSpinnerOverlay > div {
  width: 40px;
  height: 40px;
}

.errorMessage {
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
  text-align: center;
}

.paginationContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px 0 90px;
  color: var(--text-color);
}

.paginationButton {
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.paginationButton:disabled {
  background-color: var(--button-disabled-bg-color);
  cursor: not-allowed;
  background-color: #4d4d4d;
}

.paginationButton:hover:not(:disabled) {
  background-color: #4d4d4d;
}

.paginationIcon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1);
}

.pageNumbers {
  display: flex;
  align-items: center;
  gap: 8px;
}

.paginationPageButton {
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--button-text-color);
  font-size: 1rem;
  font-weight: bold;
  transition: background-color 0.3s;
}

.paginationPageButton:hover:not(:disabled) {
  background-color: #4d4d4d;
}

.activePage {
  background-color: #4d4d4d;
  font-weight: bold;
}

.ellipsis {
  font-size: 1rem;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

@media (max-width: 768px) {
  .moreButton {
    width: 30px;
    height: 30px;
  }

  .createFirstWorkoutButton {
    padding: 16px;
    width: 100%;
    max-width: 600px;
    margin: 0px 0px 80px 0px;
  }

  .workoutBlockContent h3 {
    font-size: 1em;
  }

  .workoutInfo {
    gap: 8px;
  }

  .modalContent {
    width: 90%;
    padding: 15px;
  }

  .modalContent h2 {
    font-size: 1.25rem;
    max-width: calc(100% - 40px);
  }

  .closeIcon {
    width: 16px;
    height: 16px;
  }

  .paginationContainer {
    gap: 8px;
    margin: 16px 0 80px;
  }

  .paginationButton {
    width: 35px;
    height: 35px;
  }

  .paginationIcon {
    width: 18px;
    height: 18px;
  }

  .paginationPageButton {
    width: 35px;
    height: 35px;
    font-size: 0.9rem;
  }

  .ellipsis {
    font-size: 0.9rem;
    width: 35px;
    height: 35px;
  }

  .pageNumbers {
    gap: 6px;
  }
}

@media (max-width: 375px) {
  .moreButton {
    width: 25px;
    height: 25px;
  }

  .createFirstWorkoutButton {
    padding: 16px;
    width: 100%;
    max-width: 600px;
    margin: 0px 0px 90px 0px;
  }

  .workoutBlockContent h3 {
    font-size: 0.8rem;
  }

  .doneIcon {
    width: 16px;
    height: 16px;
  }

  .modalContent {
    padding: 10px;
  }

  .modalContent h2 {
    font-size: 1rem;
    max-width: calc(100% - 35px);
  }

  .closeIcon {
    width: 14px;
    height: 14px;
  }

  .paginationContainer {
    gap: 6px;
    margin: 12px 0 90px;
  }

  .paginationButton {
    width: 30px;
    height: 30px;
  }

  .paginationIcon {
    width: 16px;
    height: 16px;
  }

  .paginationPageButton {
    width: 30px;
    height: 30px;
    font-size: 0.8rem;
  }

  .ellipsis {
    font-size: 0.8rem;
    width: 30px;
    height: 30px;
  }

  .pageNumbers {
    gap: 4px;
  }
}