/* src/components/Spinner.module.css */
.spinnerContainer {
  display: flex;
  justify-content: center; /* Центрирует по горизонтали */
  align-items: flex-start; /* Располагает сверху */
}

.spinner {
  width: 50px; /* Настрой размер при необходимости */
  height: 50px;
  animation: spin 1s linear infinite; /* Анимация вращения */
}

.spinnerButton {
  width: 20px; /* Измените размер по необходимости */
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
