/* src/components/Spinner.module.css */
.spinnerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Обеспечивает видимость поверх других элементов */
  width: 100%; /* Охватывает всю ширину страницы */
  height: 100%; /* Охватывает всю высоту страницы */
}

.spinner {
  width: 50px; /* Размер спинера */
  height: 50px;
  animation: spin 1s linear infinite; /* Анимация вращения */
}

.spinnerButton {
  width: 20px; /* Размер спинера в кнопках */
  height: 20px;
  animation: spin 1s linear infinite;
  display: inline-block; /* Устанавливаем спинер в строку */
  vertical-align: middle; /* Центрирование по вертикали */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 