/* Общие стили для таблицы */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: var(--text-color);
  overflow-x: auto;
  border-radius: 4px;
}

table, th, td {
  border: 1px solid var(--table-border-color);
  padding: 10px;
}

th {
  background-color: var(--table-bg-color);
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
  font-size: 0.95rem;
}

td {
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-color);
}

/* Уникальные стили для инпутов в WorkoutTable */
.workoutTableInput {
  text-align: center;
  width: 60px;
  padding: 10px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  color: var(--text-color);
  background-color: var(--table-bg-color);
  transition: border-color 0.3s, box-shadow 0.3s;
}

.workoutTableInput:focus {
  outline: none;
  border-color: var(--button-bg-color);
  box-shadow: 0 0 5px rgba(48, 15, 15, 0.3);
}

/* Общие стили для кнопок */
button {
  font-size: 1rem;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

/* Кнопка удаления */
.deleteButton {
  width: 100%;
  height: 40px;
  padding: 0;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  margin: 0 auto;
}

/* Стили для иконки удаления */
.deleteIcon {
  width: 15px;
  height: 15px;
}

/* Кнопки управления подходами */
.addSetButton, .deleteSetButton, .copySetButton{
  width: 30px;
  height: 40px;
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.addSetButton:hover, .deleteSetButton:hover, .copySetButton:hover, .deleteButton:hover {
  background-color: var(--button-bg-color-hover, #4d4d4d);
}

/* Стили для иконки копирования */
.copyIcon {
  width: 15px;
  height: 15px;
}

/* Кнопка добавления упражнения */
.addExerciseButton {
  height: 40px;
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
}

/* Контейнер для кнопок управления подходами */
.setControls {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Стили выпадающих списков */
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--table-bg-color);
  font-size: 0.9rem;
  color: var(--text-color);
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20"><polygon points="0,0 20,0 10,10" fill="%23cccccc"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  padding-right: 30px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select:focus {
  outline: none;
  border-color: var(--button-bg-color);
  background-color: var(--bg-color);
  box-shadow: 0 0 5px rgba(48, 15, 15, 1);
}

.addExerciseButton:hover {
  background-color: #4d4d4d;
}

/* Контейнер для круга и подходов */
/* Контейнер для подходов */
.setContainer {
 /*  display: flex; */
  align-items: center;
  gap: 8px;
}

/* Стиль для текста "Подход X" */
.approachText {
  font-size: 0.9rem;
  color: var(--text-color);
}

/* Стиль для круга */
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

/* Скрыть на экранах шире 768px */
.hideOnLargeScreens {
  display: none;
}

/* Скрыть на экранах уже 768px */
.hideOnSmallScreens {
  display: none;
}

.numberIcon {
  display: none;
}

/* Адаптивность для WorkoutTable */
@media (max-width: 768px) {
  .workoutTableInput {
    width: 100%;
    margin: 2px 5px;
    font-size: 0.85rem;
  }

  .repWeightContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
  }

  td {
    padding: 4px;
    font-size: 0.85rem;
    text-align: left;
  }

  table, th, td {
    border: none;
    padding: 0px;
  }

  .table {
    background-color: transparent;
    overflow-x: auto;
    border-collapse: separate;
  }

  thead {
    display: none;
  }

  tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid var(--table-border-color);
    border-radius: 5px;
    padding: 15px;
    background-color: var(--table-bg-color);
  }

  td {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    text-align: left;
    font-size: 0.85rem;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  td::before {
    display: inline-block;
    /* content: attr(data-label); */
    font-weight: bold;
    color: var(--text-color);
    margin-right: 10px;
    position: static;
    transform: none;
    width: auto;
  }

  td[data-label="Группа Мышц"]::before,
  td[data-label="Упражнение"]::before {
    content: none;
  }
 
  td:last-child {
    border-bottom: none;
  }

  .setControls {
    flex-wrap: wrap;
    gap: 5px;
  }

  .deleteButton, .addExerciseButton {
    width: 100%;
  }

  select {
    font-size: 0.85rem;
    padding: 10px 5px;
    -webkit-appearance: none;
    appearance: none;
    background-position: right 10px center;
    padding-right: 30px;
  }

  .hideOnLargeScreens {
    display: inline-flex;
  }

  .hideOnSmallScreens {
    display: none;
  }

  .setContainer {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Растягиваем на всю ширину */
  }

  .circle {
    width: 28px;
    height: 28px;
    font-size: 0.8rem;
  }

  .numberCell {
    display: flex;
    justify-content: space-between; /* Располагаем элементы по краям */
    align-items: center; /* Вертикальное выравнивание */
  }
  
  .numberIcon {
    display: block;
    width: 20px; /* Размер иконки */
    height: 20px;
    padding: 5px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
  }
  
  .numberText {
    font-size: 1rem; /* Размер текста */
    color: var(--text-color); /* Используем переменную темы */
  }

}

/* Дополнительная адаптация для экранов до 480px */
@media (max-width: 480px) {
  .workoutTableInput {
    width: 70px;
    height: 40px;
    /* margin: 2px 0; */
    font-size: 0.75rem;
  }

  td {
    padding: 10px 4px;
    font-size: 0.75rem;
  }

  button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .addSetButton, .deleteSetButton, .copySetButton {
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
  }

  select {
    font-size: 0.75rem;
    background-position: right 10px center;
    padding-right: 30px;
  }
}
