/* Основные стили таблицы */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: var(--text-color);
  overflow-x: auto;
  border-radius: 4px;
}

table, th, td {
  border: 1px solid var(--table-border-color);
  padding: 10px;
}

tr:last-child {
  margin-bottom: 0px;
}

th {
  background-color: var(--table-bg-color);
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
  font-size: 0.95rem;
}

td {
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-color);
  word-wrap: break-word;
  white-space: normal;
}

/* Общие стили для кнопок */
button {
  font-size: 1rem;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

/* Кнопка удаления */
.deleteButton {
  width: 30px;
  height: 30px;
  min-width: 70px;
  min-height: 30px;
  padding: 0;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  cursor: pointer;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  margin: 0 auto;
}

/* Стили для иконки удаления */
.deleteIcon {
  width: 15px;
  height: 15px;
}

/* Кнопки управления подходами */
.addSetButton, .deleteSetButton, .copySetButton {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  padding: 0;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.addSetButton:hover, .deleteSetButton:hover, .copySetButton:hover, .deleteButton:hover {
  background-color: var(--button-bg-color-hover, #4d4d4d);
}

/* Стили для иконки копирования */
.copyIcon {
  width: 15px;
  height: 15px;
}

/* Кнопка добавления упражнения */
.addExerciseButton {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
}

/* Контейнер для кнопок управления подходами */
.setControls {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Стили выпадающих списков */
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--table-bg-color);
  font-size: 0.9rem;
  color: var(--text-color);
}

select:focus {
  outline: none;
  border-color: var(--button-bg-color);
  background-color: var(--bg-color);
  box-shadow: 0 0 5px rgba(48, 15, 15, 1);
}

.addExerciseButton:hover {
  background-color: #4d4d4d;
}

/* Адаптивность для экранов до 768px */
@media (max-width: 768px) {
  table, th, td {
    border: none;
    padding: 0px;
  }

  .table {
    background-color: transparent; /* Убираем фон у всей таблицы */
    overflow-x: auto;
    border-collapse: separate;
  }

  thead {
    display: none;
  }

  tbody tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid var(--table-border-color);
    border-radius: 5px;
    padding: 15px;
    background-color: var(--table-bg-color); /* Применяем фон только к tr */
  }

  td {
    display: flex;
    justify-content: space-between;
    padding: 6px;
    text-align: left;
    font-size: 0.85rem;
    border: none;
    border-bottom: 1px solid #ddd;
  }

  td::before {
    content: attr(data-label);
    font-weight: bold;
    color: var(--text-color);
  }

  td[data-label="Группа Мышц"]::before,
  td[data-label="Упражнение"]::before {
    content: none; /* Убираем текст для этих колонок */
  }

  td:last-child {
    border-bottom: none;
  }

  .setControls {
    flex-wrap: wrap;
    gap: 5px;
  }

  .deleteButton, .addExerciseButton {
    width: 100%;
  }

  select {
    font-size: 0.85rem;
    padding: 7px 5px;
  }

}


/* Дополнительная адаптация для экранов до 480px */
@media (max-width: 480px) {
  td {
    padding: 10px 4px;
    font-size: 0.75rem;
  }

  button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .addSetButton, .deleteSetButton, .copySetButton {
    width: 25px;
    height: 25px;
    font-size: 0.8rem;
  }

  select {
    font-size: 0.75rem;
  }
}
