/* Общие стили для таблицы */
.table {
  width: 100%;
  color: var(--text-color);
  overflow-x: auto;
  border-radius: 4px;
  overflow: hidden;
}

/* Стили для контейнера таблицы */
.tableContainer {
  width: 100%; /* Полная ширина для соответствия таблице */
  box-sizing: border-box; /* Учитываем padding и border в размерах */
}

/* Граница вокруг таблицы на десктопе */
@media (min-width: 769px) {
  .tableContainer {
    border: 1px solid var(--table-border-color); /* Граница вокруг таблицы */
    border-radius: 4px; /* Скругленные углы */
    overflow: hidden; /* Сохраняем скругление углов */
    margin-bottom: 20px;
  }
}

/* Сброс стилей контейнера на мобильных, чтобы не влиять на адаптивность */
@media (max-width: 768px) {
  .tableContainer {
    border: none !important; /* Убираем границу */
    padding: 0; /* Убираем любые отступы */
    margin: 0; /* Убираем любые внешние отступы */
    overflow: visible; /* Сохраняем прокрутку таблицы */
  }
}

/* Десктопные стили (границы таблицы и ячеек) */
@media (min-width: 769px) {
  .table {
    border-collapse: collapse;
    border: 1px solid var(--table-border-color) !important;
  }

  .table table,
  .table th,
  .table td {
    border: 1px solid var(--table-border-color) !important;
    padding: 10px;
    background-color: var(--table-bg-color);
  }

  .table tr:first-child th,
  .table tr:first-child td {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .table tr:last-child th,
  .table tr:last-child td {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.table th {
  font-weight: bold;
  text-align: center;
  color: var(--text-color);
  font-size: 0.95rem;
}

.table td {
  position: relative;
  text-align: center;
  font-size: 0.9rem;
  color: var(--text-color);
}

/* Стили для инпутов в WorkoutTable */
.workoutTableInput {
  text-align: center;
  width: 60px;
  padding: 10px;
  margin: 5px 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.9rem;
  color: var(--text-color);
  background-color: var(--table-bg-color);
  transition: border-color 0.3s, box-shadow 0.3s;
  -moz-appearance: textfield;
}

.workoutTableInput::-webkit-inner-spin-button,
.workoutTableInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.workoutTableInput:focus {
  outline: none;
  border-color: var(--button-bg-color);
  box-shadow: 0 0 5px rgba(48, 15, 15, 0.3);
}

/* Кнопка с иконкой настроек */
.moreButton {
  width: 40px;
  height: 40px;
  background-color: var(--button-bg-color);
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  margin: 0px;
}

.moreButton:hover {
  background-color: #4d4d4d;
}

/* Стили для иконки настроек */
.settingIcon {
  width: 20px;
  height: 20px;
}

/* Контейнер для выпадающего меню */
.dropdownContainer {
  position: relative;
  display: flex;
  justify-content: center;
}

/* Стили для выпадающего меню */
.dropdownMenu {
  background-color: var(--table-bg-color);
  border: 1px solid var(--table-border-color);
  border-radius: 4px;
  min-width: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 5px;
}

.dropdownItem {
  width: 100%;
  padding: 8px 12px;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
  color: var(--text-color);
  margin: 5px 0px;
}

.dropdownItem:hover {
  background-color: rgba(77, 77, 77, 0.5);
}

/* Стили для иконок */
.deleteIcon,
.copyIcon {
  width: 15px;
  height: 15px;
}

/* Кнопки управления подходами */
.addSetButton,
.deleteSetButton,
.copySetButton {
  width: 40px;
  height: 40px;
  margin: 0 0 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s;
}

.addSetButton {
  margin: 0px;
}

.addSetButton:hover,
.deleteSetButton:hover,
.copySetButton:hover {
  background-color: #4d4d4d;
}

/* Кнопка добавления упражнения */
.addExerciseButton {
  height: 40px;
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
}

.addExerciseButton:hover {
  background-color: #4d4d4d;
}

/* Контейнер для кнопок управления подходами */
.setControls {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Стили выпадающих списков */
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--table-bg-color);
  font-size: 0.9rem;
  color: var(--text-color);
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 20 20"><polygon points="0,0 20,0 10,10" fill="%23cccccc"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 10px;
  padding-right: 30px;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

select:focus {
  outline: none;
  border-color: var(--button-bg-color);
  background-color: var(--bg-color);
  box-shadow: 0 0 5px #4d4d4d;
}

/* Контейнер для подходов */
.setContainer {
  align-items: center;
  gap: 8px;
}

/* Стиль для текста "Подход X" */
.approachText {
  font-size: 0.9rem;
  color: var(--text-color);
}

/* Стиль для круга */
.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9rem;
}

/* Скрыть на экранах шире 768px */
.hideOnLargeScreens {
  display: none;
}

/* Скрыть на экранах уже 768px */
.hideOnSmallScreens {
  display: none;
}

.numberIcon {
  display: none;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .workoutTableInput {
    width: 100%;
    margin: 2px 5px;
    font-size: 0.85rem;
  }

  .repWeightContainer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
  }

  .table td {
    padding: 4px;
    font-size: 0.85rem;
    text-align: left;
  }

  .table,
  .table th,
  .table td {
    border: none !important;
    padding: 0px;
  }

  .table {
    background-color: transparent;
    border-collapse: separate;
    border: none !important;
  }

  .table thead {
    display: none;
  }

  .table tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px;
    background-color: var(--table-bg-color);
    border: 1px solid var(--table-border-color);
    position: relative;
  }

  .table td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    text-align: left;
    font-size: 0.85rem;
    border-bottom: 1px solid var(--table-border-color) !important;
  }

  .table td::before {
    display: inline-block;
    font-weight: bold;
    color: var(--text-color);
    margin-right: 10px;
    position: static;
    transform: none;
    width: auto;
  }

  .table td[data-label="Группа Мышц"]::before,
  .table td[data-label="Упражнение"]::before {
    content: none;
  }

  .table td:last-child {
    border-bottom: none !important;
  }

  .setControls {
    flex-wrap: wrap;
    gap: 5px;
  }

  .dropdownContainer {
    justify-content: flex-end;
    position: relative;
    width: auto;
    margin-left: auto;
  }

  .moreButton {
    font-size: 1rem;
    width: 40px;
    height: 40px;
    margin-left: auto;
  }

  .dropdownMenu {
    width: 150px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .dropdownItem {
    width: 100%;
    padding: 10px;
  }

  .addExerciseButton {
    width: 100%;
  }

  .tableContainer {
    width: 100%;
    border: none !important;
    padding: 0;
    margin: 0;
    overflow: visible;
  }

  select {
    font-size: 0.85rem;
    padding: 10px 5px;
    -webkit-appearance: none;
    appearance: none;
    background-position: right 10px center;
    padding-right: 30px;
  }

  .hideOnLargeScreens {
    display: flex;
  }

  .hideOnSmallScreens {
    display: none;
  }

  .setContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .circle {
    width: 28px;
    height: 28px;
    font-size: 0.8rem;
  }

  .numberCell {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .numberIcon {
    display: block;
    width: 20px;
    height: 20px;
    padding: 5px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color 0.3s;
  }

  .numberText {
    font-size: 1rem;
    color: var(--text-color);
  }
}

/* Дополнительная адаптация для экранов до 480px */
@media (max-width: 480px) {
  .workoutTableInput {
    width: 70px;
    height: 40px;
    font-size: 0.75rem;
  }

  .table td {
    padding: 10px 4px;
    font-size: 0.75rem;
  }

  button {
    padding: 5px 10px;
    font-size: 0.8rem;
  }

  .addSetButton,
  .deleteSetButton,
  .copySetButton {
    width: 40px;
    height: 40px;
    font-size: 0.8rem;
  }

  select {
    font-size: 0.75rem;
    background-position: right 10px center;
    padding-right: 30px;
  }

  .dropdownMenu {
    width: 130px;
  }

  .dropdownItem {
    font-size: 0.8rem;
    padding: 8px;
  }
}