
.container {
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0px 20px;
}

.dateTitle {
  font-size: 1.5rem;
  margin: 0px 0px 10px 0px;
}

.workoutNumber {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 1.25rem;
  color: var(--text-color-secondary);
  margin: 20px 0px;
  width: 100%;
  text-align: center;
}

.numberIcon {
  width: 20px;
  height: 20px;
}

.titleContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.inputTitle {
  font-size: 1.5rem;
  width: 100%;
  max-width: 300px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 5px;
}

.inputTitle:focus {
  outline: none;
  border-color: var(--button-bg-color);
  background-color: var(--bg-color);
  box-shadow: 0 0 5px #4d4d4d;
}

.editableTitle {
  cursor: pointer;
  font-size: 1.25rem;
  color: var(--text-color);
  margin: 20px 0px;
}

.workoutOption {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.workoutOption:hover {
  background-color: rgba(var(--text-color-rgb), 0.1);
}

.workoutOption img {
  width: 20px;
  height: 20px;
}

.inlineIcon {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-right: 5px;
}

.newWorkoutButton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.newWorkoutButton:hover {
  background-color: #0056b3;
}

.workoutBlock {
  position: relative;
  background-color: var(--table-bg-color);
  color: var(--text-color);
  border: 1px solid var(--table-border-color);
  border-radius: 8px;
  padding: 20px;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.workoutBlock:last-child {
  margin: 20px 0px 90px 0px;
}

.addWorkoutButton {
  margin: 0;
  padding: 10px 20px;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addWorkoutButton:hover {
  background-color: #4d4d4d;
}

.bodyWeightTitle {
  font-size: 1.25rem;
  color: var(--text-color);
  margin: 0 0 10px 0;
}

.bodyWeightContainer {
  display: flex;
  align-items: center;
  gap: 5px;
}

.weightIcon {
  width: 20px;
  height: 20px;
  padding: 10px;
  background-color: var(--button-bg-color);
  border-radius: 4px;
}

.inputWrapper {
  position: relative;
  display: inline-block;
}

.bodyWeightInput {
  font-size: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--background-color);
  color: var(--text-color);
  -moz-appearance: textfield;
}

.bodyWeightInput::-webkit-inner-spin-button,
.bodyWeightInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.bodyWeightInput:focus {
  outline: none;
  border-color: var(--button-bg-color);
  background-color: var(--bg-color);
  box-shadow: 0 0 5px #4d4d4d;
}

.hiddenText {
  position: absolute;
  visibility: hidden;
  font-size: 1.5rem;
  padding: 5px 10px;
  white-space: nowrap;
}

.weightUnit {
  font-size: 1.5rem;
  color: var(--text-color);
}

@media (max-width: 768px) {
  .dateTitle {
    font-size: 1.25rem;
  }

  .workoutNumber {
    font-size: 1rem;
    margin: 16px 0px;
  }

  .inputTitle {
    font-size: 1.25rem;
  }

  .editableTitle {
    font-size: 1rem;
    margin: 16px 0px;
  }

  .workoutOption {
    padding: 8px;
  }

  .newWorkoutButton {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .workoutBlock {
    padding: 16px;
  }

  .bodyWeightTitle {
    font-size: 1rem;
  }

  .bodyWeightContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }

  .weightIcon {
    width: 18px;
    height: 18px;
    padding: 8px;
  }

  .bodyWeightInput {
    font-size: 1.25rem;
  }

  .hiddenText {
    font-size: 1.25rem;
    padding: 5px 10px;
  }

  .weightUnit {
    font-size: 1.25rem;
  }

  .addWorkoutButton {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .bodyWeightInput {
    font-size: 1rem;
  }

  .hiddenText {
    font-size: 1rem;
    padding: 5px 10px;
  }

  .weightUnit {
    font-size: 1rem;
  }
}